<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="header navbar fixed-top" data-controller='navbar' data-action='scroll@window->navbar#updateNavbar'>
      <%= link_to lists_path do %>
        <%= cl_image_tag("movie-logo", width: 80, crop: :scale) %>
      <% end %>
      <div class="header-buttons">
        <p class="header-link"><%= link_to "My lists", lists_path(anchor: "lists-anchor")%></p>
        <p class="header-link"><%= link_to "New list", list_path(:new)%></p>
      </div>
    </div>
    <div>
    <%= yield %>
    </div>
    <div class='footer'>
      <div class='footer-icons'>
        <%= link_to "https://gmail.com", :target => "_blank" do %>
          <i class="fa-solid fa-envelope"></i>
        <% end %>
        <%= link_to "https://github.com/brunswickck", :target => "_blank" do %>
          <i class="fa-brands fa-github"></i>
        <% end %>
        <%= link_to "https://headlines.peta.org/donate/", :target => "_blank" do %>
          <i class="fa-solid fa-hand-holding-heart"></i>
        <% end %>
      </div>
    </div>
  </body>
</html>
